.contact-map .sebm-google-map-container {
    height: 400px;
}

.containercards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-template-rows: auto;
    grid-gap: 1rem;
    place-content: center;
    margin: 2rem 0;
}