<app-header-image [backgroundImage]="'assets/images/others/contact.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'Contact Us'"
                  [desc]="'Got a question? We\'ll give you straight answer'">
</app-header-image>

<div class="px-3">
    <div class="theme-container">
        <h2>Confirmar Reserva</h2>
        <mat-card class="main-content-header mb-5" *ngFor=" ">
            <h3 class="widget-title bg-primary">{{"PROPERTIES.CONTACT_US.REPLY_LISTING" | translate}}</h3>
            <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)">
                <p>{{"PROPERTIES.CONTACT_US.CONTACT_MESSAGE"| translate}}</p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{"FIELD.NAME" | translate}}</mat-label>
                    <input matInput placeholder="{{'FIELD.YOUR' | translate}} {{'FIELD.NAME'|translate}}" autocomplete="off" formControlName="name">
                    <mat-error *ngIf="contactForm.controls.name.errors?.required">{{'FIELD.NAME'|translate}} {{'FIELD.REQUIRED'|translate}}</mat-error>                   
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'FIELD.EMAIL'| translate}}</mat-label> 
                    <input matInput placeholder="{{'FIELD.YOUR' | translate}} {{'FIELD.EMAIL'|translate}}" autocomplete="off" formControlName="email">
                    <mat-error *ngIf="contactForm.controls.email.errors?.required">{{'FIELD.EMAIL'|translate}} {{'FIELD.REQUIRED'|translate}}</mat-error>
                    <mat-error *ngIf="contactForm.controls.email.hasError('invalidEmail')">{{'FIELD.EMAIL'|translate}} {{'FIELD.INVALID' |translate}} </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'FIELD.PHONE'| translate}}</mat-label>
                    <input matInput placeholder="{{'FIELD.YOUR' | translate}} {{'FIELD.PHONE'|translate}}" autocomplete="off" formControlName="phone" type="number"> 
                    <mat-error *ngIf="contactForm.controls.phone.errors?.required">{{'FIELD.PHONE'|translate}} {{'FIELD.REQUIRED'|translate}}</mat-error>                 
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'FIELD.MESSAGE'| translate}}</mat-label> 
                    <textarea matInput placeholder="{{'FIELD.YOUR' | translate}} {{'FIELD.MESSAGE'|translate}}" formControlName="message" rows="6"></textarea> 
                    <mat-error *ngIf="contactForm.controls.message.errors?.required">{{'FIELD.MESSAGE'|translate}} {{'FIELD.REQUIRED'|translate}}</mat-error>
                </mat-form-field>  
                <div class="text-center">
                    <button mat-raised-button color="accent" type="submit">{{'BTN.SEND_FORM' | translate}}</button>
                </div>
            </form>

        </mat-card>  
    </div>

</div>