<mat-card class="property-item p-0" [ngClass]="[viewType + '-item', 'column-'+column]" [class.full-width-page]="fullWidthPage" fxLayout="row wrap">  
  
    <div fxFlex="100" fxShrink="3" [fxFlex.gt-sm]="(viewType=='list') ? 40 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="thumbnail-section">

        <!-- <div fxLayout="row wrap" class="property-status">
            <span *ngFor="let status of property.propertyStatus" [style.background-color]="getStatusBgColor(status)">{{status}}</span>
        </div> -->
       
        <div *ngIf="property.gallery.length == 1" class="mat-card-image w-100 m-0">
            <img [src]="property.gallery[0].medium">
        </div>
        <div *ngIf="property.gallery.length > 1" class="mat-card-image w-100 m-0">
            <div class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper"> 
                    <div *ngFor="let image of property.gallery" class="swiper-slide">
                        <img [attr.data-src]="image.medium" class="swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div> 
                </div>  
                <div class="swiper-pagination white"></div>  
                <button mat-icon-button class="swiper-button-prev swipe-arrow"><mat-icon class="mat-icon-lg">keyboard_arrow_left</mat-icon></button>
                <button mat-icon-button class="swiper-button-next swipe-arrow"><mat-icon class="mat-icon-lg">keyboard_arrow_right</mat-icon></button>
            </div>
        </div>


    </div>
    <div fxFlex="100" [fxFlex.gt-sm]="(viewType=='list') ? 60 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="p-3">

        <div fxLayout="column" fxLayoutAlign="start stretch" class="h-100">
            <mat-card-content class="mb-0">
                <h1 class="title">{{property.title}}</h1>
                <h3 fxLayout="row" class="type">
                    <span>{{property.propertyType}}</span>
                </h3>

                <p fxLayout="row" class="address">
                    <mat-icon class="text-muted">location_on</mat-icon>
                    <span>{{property.formattedAddress}}</span>
                </p>
                
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                        <div>
                            <h4> {{"TEXT_INPUT.SINGLE_ROOM" | translate}}</h4>
                            <h3  class="primary-color price">
                                <span *ngIf="property.singleRoomPrice">{{property.singleRoomPrice| currencyCOP }} / noche</span>
                            </h3>
                            <h4  class="primary-color"*ngIf="stateTransaction.priceTotalSimple">
                                <span>{{stateTransaction.dayStay}} </span>
                                <span>{{"TEXT_INPUT.NIGTH_FOR" | translate}}: </span>
                                <span >{{stateTransaction.priceTotalSimple | currencyCOP }}</span>
                            </h4>
                        </div>
                        <div>
                            <h4>{{"TEXT_INPUT.DOUBLE_ROOM" | translate}}</h4>
                            <h3  class="primary-color price">
                                <span *ngIf="property.doubleRoomPrice">{{property.doubleRoomPrice | currencyCOP }} / noche</span>
                            </h3>
                            <h4  class="primary-color" *ngIf="stateTransaction.priceTotalDuo">
                                <span>{{stateTransaction.dayStay}} </span>
                                <span>{{"TEXT_INPUT.NIGTH_FOR" | translate}}: </span>
                                <span >{{stateTransaction.priceTotalDuo | currencyCOP }}</span>
                            </h4>
                        </div>
                    </div>
                </div>

            </mat-card-content>
            <div class="sticky-footer-helper" fxFlex="grow"></div>
            <mat-card-actions class="m-0 p-0" fxLayoutAlign="space-between center"> 
                <p fxLayout="row" class="date mb-0">
                    <mat-icon class="text-muted">date_range</mat-icon>
                    <span class="mx-2">{{property.published | date:"dd MMMM, yyyy" }}</span>
                </p>
                <div>
                    <a [routerLink]="['/properties', property.id]"  mat-button color="primary" class="uppercase"
                    (click)="selectedProperty()"

                    > {{"TEXT_INPUT.VIEW_OFFER" | translate}}</a>
                </div> 
            </mat-card-actions> 
        </div>        
        
    </div> 

</mat-card>