<a mat-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
    <mat-icon class="mat-icon-sm">person</mat-icon>
    <span fxShow="false" fxShow.gt-sm class="mx-1 uppercase">{{ 'ACCOUNT' | translate }}</span> 
    <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
</a>
<mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-menu-panel user-menu">
    <span (mouseleave)="userMenuTrigger.closeMenu()">
        <div fxLayout="row" fxLayoutAlign="start center" class="user-info">                   
            <img src="assets/images/others/user.jpg" alt="user-image" width="50">
            <p class="m-0">{{userData.name}} <br> <small><i>{{userData.username}}</i></small></p>
        </div>
        <div class="divider"></div>
        <a mat-menu-item routerLink="/create-hotel"> 
            <mat-icon class="mat-icon-sm">add_circle</mat-icon>
            <span>Crear nuevo hotel</span> 
        </a>
        <a mat-menu-item routerLink="/account/my-hotels"> 
            <mat-icon class="mat-icon-sm">home</mat-icon>
            <span>mis hoteles</span> 
        </a>
        <a mat-menu-item routerLink="/account/reserve"> 
            <mat-icon class="mat-icon-sm">favorite_border</mat-icon>
            <span [matBadge]="appService.Data.favorites.length" 
                  [matBadgeHidden]="appService.Data.favorites.length == 0"
                  matBadgeSize="small" 
                  matBadgeColor="warn" 
                  matBadgeOverlap="false">MIS RESERVAS</span> 
        </a>
        <!-- <a mat-menu-item routerLink="/"> 
            <mat-icon class="mat-icon-sm">search</mat-icon>
            <span>Saved Searches</span> 
        </a> -->
        <a mat-menu-item routerLink="/account/profile"> 
            <mat-icon class="mat-icon-sm">edit</mat-icon>
            <span>{{ 'EDIT_PROFILE' | translate }}</span> 
        </a>

        <div class="divider"></div>
        <a mat-menu-item routerLink="/login" (click)="logOut()"> 
            <mat-icon class="mat-icon-sm">power_settings_new</mat-icon>
            <span>{{ 'LOGOUT' | translate }}</span> 
        </a>
    </span>
</mat-menu>  