<mat-card fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="w-100 p-2 filter-row mat-elevation-z1 text-muted">

    <div fxShow="false" fxShow.gt-xs>
            <a mat-button [matMenuTriggerFor]="countsMenu" #countsMenuTrigger="matMenuTrigger">
                {{"TEXT_INPUT.SHOW" | translate}} {{count}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
            </a>
            <mat-menu #countsMenu="matMenu" xPosition="before" overlapTrigger="true">
                <span (mouseleave)="countsMenuTrigger.closeMenu()">
                    <button mat-menu-item *ngFor="let count of counts" (click)="changeCount(count)">
                        <span>{{count}}</span>
                    </button>
                </span>
            </mat-menu>
        <button mat-icon-button (click)="changeViewType('list', 100)">
            <mat-icon>view_list</mat-icon>
        </button>
        <button *ngIf="isHomePage" mat-icon-button fxShow="false" fxShow.gt-sm (click)="changeViewType('grid', 33.3)">
            <mat-icon>view_module</mat-icon>
        </button>
        
    </div>
</mat-card>
